.video__iframes {
  display: grid;
  -ms-grid-columns: minmax(auto, 515px) minmax(auto, 515px);
  grid-template-columns: minmax(auto, 515px) minmax(auto, 515px);
  gap: 20px 20px;
  -ms-flex-align: start;
    align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto -50px;
}
