.footer__column-link {
  color: inherit;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity .15s cubic-bezier(.0,.0,.2,1) 0s;
  -o-transition: opacity .15s cubic-bezier(.0,.0,.2,1) 0s;
  transition: opacity .15s cubic-bezier(.0,.0,.2,1) 0s;
  will-change: opacity;
}

.footer__column-link:focus,
.footer__column-link:hover {
  opacity: .6;
  outline: none;
}
