@-webkit-keyframes rotation_figure_square {
  from {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation_figure_square {
  from {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotation_figure_square {
  -webkit-animation-name: rotation_figure_square;
  animation-name: rotation_figure_square;
}
