.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  color: #000;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */
.header {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header__title {
  z-index: 2;
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bolder;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  width: 388px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:focus,
.header__link:hover {
  color: #fff;
  background-color: #1f1f1f;
  outline: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 608px;
  width: 765px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* logo */
.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  background-image: url(../images/logo.svg);
}

.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_white.svg);
}

/* section description */
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bolder;
}

/* section digits */
.digits {
  margin: 100px auto;
}

/* section - text rules */
.section-title {
  width: 60%;
  margin: 0 auto;
  font-size: 60px;
  line-height: 69px;
  font-weight: bolder;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: #fff;
}

/* table */
.table {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  color: #fff;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
}

.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

/* section feinman */
.feinman {
  position: relative;
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  background-image: url(../images/feinman.png);
  background-color: #f2f2f2;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  text-align: center;
}

.feinman__title {
  width: 648px;
  margin: 0 auto;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bolder;
}

.feinman__subtitle {
  margin: 70px auto 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: inherit;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
}

.feinman__link:focus,
.feinman__link:hover {
  color: #2f80ed;
  background-color: #1f1f1f;
  outline: none;
}

/* section kaufman */
.kaufman {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 90px 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  width: 877px;
  height: 877px;
  background-image: url(../images/triangle.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

/* footer */
.footer {
  padding: 60px 0 40px;
  color: #fff;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bolder;
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__column-link {
  color: inherit;
  text-decoration: none;
}

.footer__column-link:focus,
.footer__column-link:hover {
  color: #2f80ed;
  outline: none;
}

.footer__social-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
