/* basic stuff */
body,
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

/* header */
.header {
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bolder;
  align-self: center;
  width: 730px;
  margin-left: 64px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
}

/* logo */
.logo {
  width: 183px;
  height: 32px;
  position: absolute;
}

.logo_place_header {
  background-image: url(../images/logo.svg);
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  background-image: url(../images/logo_white.svg);
  height: 35px;
  top: 0;
  left: 0;
}

/* section description */
.two_columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two_columns__brief {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two_columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two_columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two_columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two_columns__span-accent {
  font-weight: bolder;
}

/* section - text rules */
.section-title {
  font-size: 60px;
  line-height: 69px;
  font-weight: bolder;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 20px;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: #fff;
}

/* table */
.table {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  color: #fff;
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
}

/* section feinman */
.feinman {
  background-image: url(../images/feinman.png);
  background-color: #f2f2f2;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  min-height: 890px;
  padding-top: 100px;
  position: relative;
  text-align: center;
}

.feinman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bolder;
  width: 648px;
  margin: 0 auto 70px;
}

.feinman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feinman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #000;
  position: absolute;
  top: 50%;
  right: 48px;
}

/* section kaufman */
.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.kaufman__triangle {
  background-image: url(../images/triangle.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

/* footer */
.footer {
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  min-height: 350px;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin-top: 18px;
  position: absolute;
  left: 0;
  bottom: 18px;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bolder;
}

.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  list-style: none;
  margin: 20px 0 16px;
}

.footer__social-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* extension */
.layered-above {
  z-index: 2;
}

.centered-section {
  margin: 100px auto;
}

.centered-block {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
