.khan__buy-link {
  display: inline-block;
  vertical-align: top;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity .15s cubic-bezier(.0,.0,.2,1) 0s;
  -o-transition: opacity .15s cubic-bezier(.0,.0,.2,1) 0s;
  transition: opacity .15s cubic-bezier(.0,.0,.2,1) 0s;
  will-change: opacity;
}

.khan__buy-link:focus,
.khan__buy-link:hover {
  opacity: .6;
  outline: none;
}
